{
  "extends": "airbnb",
  "globals": {
    "react": true,
    "react-dom": true,
    "prop-types": true
  },
  "plugins": [
    "jest"
  ],
  "env": {
    "jest/globals": true
  },
  "rules": {
    "comma-dangle": ["error", "never"]
  }
}
